<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wireless Traveler</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <script
      type="text/javascript"
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=c4d4b444-96da-46d0-b268-d905b735eab5"
    ></script>
    <div id="map"></div>
    <script src="js/map.js"></script>
  </body>
</html>
